@import "tailwindcss";
@theme {
  --color-brand-50:  #e9f3fc;
  --color-brand-600: #2c7dc5;
  --color-brand-700: #1f6fb2;
  --color-background: #f4f9ff;   /* parametros para el azul celeste */
  --color-foreground: #0f172a;
}